.chef {
    background: $background-color;
    padding-top: 100px;
    padding-bottom: 100px;

    &__text {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__paragraph {
        max-width: 939px;
        margin: 0 auto;

    }

    @media screen and (max-width: 1024px) {
        & {
            padding-top: 80px;
            padding-bottom: 80px;
        }

        &__paragraph {
            max-width: 691px;
        }

        @media screen and (max-width: 768px) {
            & {
                padding-top: 70px;
                padding-bottom: 70px;
            }

            &__text {
                padding-top: 20px;
                padding-bottom: 20px;
            }

            &__paragraph {
                max-width: 626px;
            }
        }
    }

    @media screen and (max-width: 500px) {
        &__paragraph {
            max-width: 400px;
        }
    }
}