.restaurant {
    padding-top: 218px;
    padding-bottom: 185px;

    &__text {
        color: $primary-color;
        font-weight: 400;
        margin-top: 35px;
        margin-bottom: 60px;

        @media screen and (max-width: 1024px) {
            & {
                font-size: 18px;
            }
        }

        @media screen and (max-width: 670px) {
            & {
                font-size: 16px;
            }
        }

        @media screen and (max-width: 410px) {
            & {
                font-size: 8px;
            }
        }
    }

    @media screen and (max-width: 1024px) {
        & {
            padding-top: 183px;
            padding-bottom: 153px;
        }

        &__text {
            margin-bottom: 63px;
        }

    }

    @media screen and (max-width: 768px) {
        & {
            padding-top: 171px;
            padding-bottom: 99px;
        }

        &__text {
            margin-bottom: 66px;
        }

    }

    @media screen and (max-width: 670px) {
        & {
            padding-top: 155px;
        }

        &__text {
            font-size: 15px;
        }
    }
}